html {
    height: 100%;
    width: 100%;

  }

  @font-face {
    font-family: "TitlePixel";
    src: url(04B_30__.TTF);
  }

  @font-face {
    font-family: "DescriptionPixel";
    src: url(PixelifySans-VariableFont_wght.ttf);
  }

  @media (min-width: 1025px) and (max-width: 1440px) {

    h1 {
      font-size: 6rem;
    }

    h2 {
      -webkit-text-stroke: .09rem rgb(88, 20, 32);
    }

    .textbox-parent-container {
      flex-direction: row;
      height: 18rem;
    }

    .description-container {
      margin: 1rem;
      width: 200vw;

    }

    .description-container h2 {
      width: 85%;
    }

    .title-container {
      margin-top: 1rem;
    }

    .textbox-child-container img {
      width: 38rem;
    }

    .textbox-child-container {
      width: 38rem;
      margin-left: 10rem;
      background-image: url('images/textboxSide.png');
      background-size: cover;
    }

    .button-child-container {
      flex-direction: column-reverse;
      gap: 1rem;
    }

    .button-child-container img {
      width: 23rem;
    }

    .generateButton {
      height: 4.3rem;
      width: 9.5rem;
      background-image: url('images/buttonBackground.jpg');
    }

    #myTrope {
      font-size: 1.6rem;
      width: 20rem;
      margin-right: 4rem;
      margin-bottom: 9rem;
    }

    #myTropeDescription {
      font-size: 1rem;
      width: 20rem;
      margin-right: 4rem;
      margin-top: 2rem;
    }
  }

  @media (max-width: 768px) {
    html {
      font-size: 6px; /* 1rem = 14px */
    }

    h1 {
      font-size: 6rem;
      margin-top: 1rem;
    }

    h2 {
      -webkit-text-stroke: .15rem rgb(88, 20, 32);
    }

    .textbox-parent-container {
      flex-direction: column;
      height: 30rem;
    }

    .description-container {
      margin-top: 3rem;
      margin-bottom: 3rem;
      width: 90vw;

      border-style: dashed;
      border-color: yellow;
    }

    .description-container h2 {
      font-size: 1.6rem;
      padding: 1rem;
    }

    .title-container {
      margin-top: 3rem;
    }

    .textbox-child-container img {
      width: 55rem;
      /* border-style: dotted;
      border-color: red; */
    }

    .textbox-child-container {
      height: 28rem;
      border-style: dotted;
      border-color: rgb(0, 255, 128);
      background-image: url('images/textboxBottom.png');
      background-size: cover;
    }

    .textbox-parent-container {
      flex-direction: column;
      border-style: dotted;
      border-color: blue;
      height: 42rem;
    }

    .button-child-container {
      
      border-color: rgb(194, 41, 255);
      border-style: dashed;
      flex-direction: row-reverse;
      gap: 0rem;
      margin: 0rem;
    }

    .button-child-container img {
      width: 20rem;
    }

    .generateButton {
      width: 30rem;
      height: 8.7rem;
      background-image: url('images/buttonBackgroundLong.jpg');
    }

    #myTrope {
      border-style: dotted;
      border-color: rgb(0, 255, 191);

      font-size: 2rem;
      width: 34rem;
      margin-right: 1rem;
      margin-bottom: 17rem;
    }

    #myTropeDescription {
      border-style: dotted;
      border-color: brown;

      font-size: 2rem;
      width: 34rem;
      margin-right: 1rem;
      margin-top: 5rem;
    }
  }
  

  body {
    background-color: white;
    overflow: hidden;
    background-image: url("images/bg.jpg");
    background-size: cover;
  }


  h1 {
    font-family: "TitlePixel";
    color: rgb(255, 255, 255);
    -webkit-text-stroke: .0005rem rgb(255, 170, 184);
    z-index: 3;
    margin: 0rem;
    position: relative;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
    z-index: 3;

    /* border-style: dotted;
    border-color: black; */
  }


  h2 {
    font-family: "DescriptionPixel";
    font-size: 1.3rem;
    margin: .1rem;
    color: rgb(255, 255, 255);
    letter-spacing: .4rem;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .description-container h2 {
    text-align: left;
  }

  .textbox-parent-container {
    display: flex;
    gap: 2rem;
  }

  .button-child-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .button-child-container img {
    display: absolute;

  }

  .generateButton {
    background-size: contain;

    font-family: "TitlePixel";
    -webkit-text-stroke: .04rem rgb(88, 20, 32);
    color: white;

    display: absolute;
  }

  .textbox-child-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* border-color: rgb(255, 0, 0);
    border-style: dashed; */
  }

  .textbox-child-container img {
  
    z-index: 6;
    display: flex;
    position: absolute;
    

    /* border-color: black;
    border-style: dashed; */
  }

  #myTrope {

    font-family: "DescriptionPixel";
    -webkit-text-stroke: .1rem rgb(255, 118, 164);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 9;

    /* border-color: rgb(47, 0, 255);
    border-style: dashed; */
  }

  #myTropeDescription {

    font-family: "DescriptionPixel";

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 9;

    /* border-color: rgb(47, 0, 255);
    border-style: dashed; */
  }

  #titleTextId {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  
